<!-- LAYOUT page -->

<!DOCTYPE html>
<html>
	<head>

		<!-- js -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	    <script charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.9.12/paper.js"></script>

		<!-- bootstrap-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

	    <!-- css -->
		<link rel="stylesheet" type="text/css" href="public/css/stylesheet.css">

	</head>

	<body>
	THIS IS BUILT IN LAYOUT

    <!-- custom templates come here -->
    {{{yield}}}


	<!-- ========================================== -->
	</body>


</html>
