<!-- new page -->

<div id="toolBox">
	<h2>Paperscript Test</h2>

	<!-- TOOLS -->
	<a href="#" id="tool0">ERASER</a><br>
	<br>
	<a href="#" id="tool1">tool1: Thin</a><br>
	<a href="#" id="tool2">tool2: Super Thick</a><br>
	<a href="#" id="tool3">tool3: dashed</a><br>	

	<a href="#" id="tool4">tool4: WEIRD BRUSH</a><br>
	<a href="#" id="tool5">tool5: Dripping</a><br>
	<a href="#" id="tool6">tool6: Cloud shape</a><br>
	<a href="#" id="tool7">tool7: Organic Brushes</a><br>
	<a href="#" id="tool8">tool8: Thick-Dry Brushes</a><br>
	<a href="#" id="tool9">tool9: Circle</a><br>
	<a href="#" id="tool10">tool10: vertical line</a><br>
	<a href="#" id="tool11">tool11: Wave</a><br>
	<a href="#" id="tool12">tool12: multi lines</a><br>

	=====================<br>
	<a href="#" id="thin">Thin : 2</a><br>
	<a href="#" id="medium">Medium : 4</a><br>
	<a href="#" id="thick">Thick : 6</a><br>

	<!-- MENUS -->
	=====================<br>
	<a href="#" id="undo">Undo</a><br>
	<a href="#" id="clear">Clear</a><br>
	<a href="/gallery"><b>GALLERY</b></a><br>
	<a href="#" id="save"><b>SAVE</b></a><br>
</div> <!-- toolbox -->


<div id="bottomArea">
	{{#infoData}}
		<li><img onmousedown="return false" class='previousDrawing crop' src={{imageData}}></li>
	{{/infoData}} 
	<li><canvas id="myCanvas"></canvas></li>

</div> 
<!-- paper.js -->
<script type="text/paperscript" canvas="myCanvas" src="public/js/drawing.js"></script>
