<!-- new page -->

<div id="toolBox">
	<h2>Paperscript Test</h2>

	<!-- TOOLS -->
	<a href="#" id="tool0">ERASER</a><br>
	<br>
	<a href="#" id="tool1">1: Thin</a><br>
	<a href="#" id="tool2">2: Super Thick</a><br>
	<a href="#" id="tool3">3: dashed</a><br>	

	<a href="#" id="tool4">4: WEIRD BRUSH</a><br>
	<a href="#" id="tool5">5: Dripping</a><br>
	<a href="#" id="tool6">6: Cloud shape</a><br>
	<a href="#" id="tool7">7: Organic Brushes</a><br>
	<a href="#" id="tool8">8: Thick-Dry Brushes</a><br>
	<a href="#" id="tool9">9: Circle</a><br>
	<a href="#" id="tool10">10: vertical line</a><br>
	<a href="#" id="tool11">11: Wave</a><br>
	<a href="#" id="tool12">12: multi lines</a><br>
	=====================<br>
	<a href="#" id="tool13">13: Cloud image</a><br>
	<img src="public/images/image_01.png" id="cloud" class="hidden">

	<a href="#" id="tool14">14: circle</a><br>
	<img src="public/images/image_02.png" id="circle" class="hidden">

	<a href="#" id="tool15">15: circles- click</a><br>
	<img src="public/images/image_03.png" id="circles" class="hidden">

	<a href="#" id="tool16">16: triangles</a>
	<img src="public/images/image_04.png" id="triangles" class="hidden">

	=====================<br>
	<a href="#" id="thin">Thin : 2</a><br>
	<a href="#" id="medium">Medium : 4</a><br>
	<a href="#" id="thick">Thick : 6</a><br>

	<!-- MENUS -->
	=====================<br>
	<a href="#" id="undo">Undo</a><br>
	<a href="#" id="clear">Clear</a><br>
	<a href="/gallery"><b>GALLERY</b></a><br>
	<a href="#" id="save"><b>SAVE</b></a><br>
</div> <!-- toolbox -->


<div id="bottomArea">
	{{#infoData}}
		<li><img onmousedown="return false" class='previousDrawing crop' src={{imageData}}></li>
	{{/infoData}} 
	<li><canvas id="myCanvas"></canvas></li>

</div> 
<!-- paper.js -->
<script type="text/paperscript" canvas="myCanvas" src="public/js/drawing.js"></script>
